{{ define "main" }}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>AIT Brain Lab</h1>
          <p style="margin-top: 10px;" class="lead text-muted">Established in 2019 under the supervision of <a href="http://chaklam.com"
              target="_blank">Dr. Chaklam Silpasuwanchai</a>, we are bunch of Master and Ph.d students from 10+ nationalities at Asian Institute of Technology, Thailand, specialize in the field of NLP, CV and HCI. </p>
          <p class="lead text-muted">
            Dedicate to deliver solution to challenging AI problems through research, rigorous experiments, computational approaches, and design thinking. </p>
          <p class="lead text-muted">We are also under collaboration with many industrial partners to deliver AI solutions. Challenge us!</p>
        </div>
      </div>
      <div class="text-center">
        <a style="background-color: #f38733" href="#contact" class="btn-get-started scrollto">Reach out!</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <h4 class="title"><a href="">NLP</a></h4>
            <p class="description">We specialize in providing customized AI NLP solution using Spacy, PyTorch, Huggingface or proprietary framework like Microsoft Azure in the form of web or mobile applications.</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <h4 class="title"><a href="">CV</a></h4>
            <p class="description">We provide specialized OpenCV, PyTorch, and YOLO-based AI Computer Vision solutions as web or mobile applications.</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <h4 class="title"><a href="">EEG</a></h4>
            <p class="description">We specialize in engineering brain-computer interface applications such as emotion recognition, neurofeedback, motor imagery.</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <h4 class="title"><a href="">Training</a></h4>
            <p class="description">We offer customized training solutions in the area of AI, deep learning, and human-computer interaction.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Partners Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        <p>Partners</p>
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="img/partners/scg.png" class="img-fluid" alt="">
          </div>

          <div class="col-sm-2 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="img/partners/sriraj.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-sm-2 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="img/partners/ait.jpeg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Our featured demo.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/language.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Resume Parser</h4>
                <p>Automatically parse resume into different customized skills.</p>
                <div class="portfolio-links">
                  <a href="img/language.png" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/sw.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Thai summarizer</h4>
                <p>Automatically summarize given contents in Thai language.</p>
                <div class="portfolio-links">
                  <a href="img/cv.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/mine.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>CT Scans</h4>
                <p>Provide automatic segmentation of brain regions</p>
                <div class="portfolio-links">
                  <a href="img/mine.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We are happy to listen to your problem free of charge. Feel free to schedule an appointment by calling or
            emailing.</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3869.977593956777!2d100.61184751472204!3d14.078499990136669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e27f8de68c7f59%3A0xf01923824353270!2sAsian%20Institute%20of%20Technology%20(AIT)!5e0!3m2!1sen!2sth!4v1679621412838!5m2!1sen!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


        <div class="row">
          <div class="col-lg-6">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>58 Moo 9 Phahonyothin Road, Tambon Khlong Nung, Amphoe Khlong Luang</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>chaklam@ait.asia</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info">
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>063-310-9191</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{{ end }}