{{ define "main" }}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        {{/*  <h1>The Future Lab</h1>  */}}
        <h1>AIT Brain Lab</h1>
        <p style="margin-top: 10px;" class="lead">The AIT Brain Lab is founded by <a target="_blank" href="http://www.chaklam.com">Dr. Chaklam</a> in the year 2019.</p>
        <p class="lead">The lab envisions to gather students who are passionate about <b>understanding humans</b> and fascinated about every little things about humans.</p>
        <p class="lead">To understand humans through the lens of research, i.e., through brain, language, voice, learning paradigms.</p>
        <p class="lead">We called our area of research called "<b>Human AI Interaction</b>".</p>
        {{/*  <p style="margin-top: 10px;" class="lead">The <a target="_blank" href="https://ait.ac.th">Asian Institute of Technology (AIT)</a> and <a target="_blank" href="https://www.bupt.edu.cn/#">Beijing University of Posts and Telecommunications (BUPT)</a> are joining forces to establish a  joint-research lab, aptly named <b>The Future Lab, AIT x BUPT.</b></p>
        <p class="lead text-muted">This initiative marks a significant milestone in the pursuit of cutting-edge research and development to solve world problems.  Key domains include Artificial Intelligence (AI), Digital Transformation, Accessibility, Sustainability, and beyond.</p>  */}}
        {{/* <p class="lead text-muted">{{ .Params.hero3 }}</p> */}}
      </div>
    </div>
    <div class="text-center">
      <a style="background-color: #f38733" href="/members" class="btn-get-started scrollto">Members</a>
      <a style="background-color: #05220a" href="/projects" class="btn-get-started scrollto">Check out our
        projects!</a>
    </div>
    {{/*  <div id="features">
      <div class="row icon-boxes">
        <div class="col-lg-4 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <h4 class="title"><a href="">Data Science and Artificial Intelligence</a></h4>
            <p class="description">Research and development on data analytics and text, speech, computer vision based models and applications.</p>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <h4 class="title"><a href="">Digital Transformation</a></h4>
            <p class="description">Research and development on contemporary topics on digital transformation including digital transformation in tourisms, banking, insurance, agriculture, etc.</p>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <h4 class="title"><a href="">Assessibility and Healthcare</a></h4>
            <p class="description">Research and development on accessibility that explores methods and tools to enhance inclusion and well-being for individuals with diverse needs including elderly, deaf people, visually-impaired people, locked-in patients, etc.</p>
          </div>
        </div>

      </div>
      <div class="row icon-boxes">
        <div class="col-lg-4 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <h4 class="title"><a href="">Sustainability</a></h4>
            <p class="description"> Research and development on Advancing Sustainable Development Goals (SDGs) is essential for addressing global challenges and fostering a more sustainable future.</p>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <h4 class="title"><a href="">Education</a></h4>
            <p class="description">Research and development in Human Capacity Building is crucial for fostering a knowledgeable, skilled, inclusive and empowered global population.</p>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <h4 class="title"><a href="">Smart Governance, Cities, Services</a></h4>
            <p class="description">Research and Development in Smart Governance, Cities, and Services is vital for creating efficient, inclusive, and resilient urban environments. This research focuses on leveraging technology and data-driven approaches to enhance governance effectiveness, optimize urban infrastructure, and improve service delivery.</p>
          </div>
        </div>

      </div>
    </div>  */}}
  </div>
</section><!-- End Hero -->

<main id="main">

  {{/*  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>AIT x BUPT</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h4>Vision</h4>
          <p>
            The Future Lab envisions global progress by prioritizing the resolution of pressing world issues and advancing sustainability and economical initiatives. Through collaborative efforts between partner institutions, we aim to drive transformative innovations that not only address complex challenges but also foster sustainable solutions, paving the way for a prosperous and equitable future for all.
          </p>
          <h5>Key Missions</h5>
          <ul>
            <li><i class="ri-check-double-line"></i> Transdisciplinary Research</li>
            <li><i class="ri-check-double-line"></i> Digital Transformation</li>
            <li><i class="ri-check-double-line"></i> Co-Research and Talent Exchange</li>
            <li><i class="ri-check-double-line"></i> Human Capacity Building</li>
            <li><i class="ri-check-double-line"></i> Entrepreneurship</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h4>Thematic Areas</h4>
          <p>
            The Future Lab adopt a multidisciplinary approach, bringing together experts from diverse fields such as computer science, engineering, business, social sciences, and environmental studies. Through collaborative research projects, workshops, seminars, and industry partnerships, the lab will foster knowledge exchange, cross-pollination of ideas, and practical applications of research findings.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Data Science and AI</li>
            <li><i class="ri-check-double-line"></i>Digital Transformation</li>
            <li><i class="ri-check-double-line"></i>Assessibility and Healthcare</li>
            <li><i class="ri-check-double-line"></i>Sustainability</li>
            <li><i class="ri-check-double-line"></i>Education</li>
            <li><i class="ri-check-double-line"></i>Smart Governance, Cities, Services</li>
          </ul>
        </div>
      </div>


    </div>

  </section><!-- End About Section -->  */}}

  <!-- ======= Partners Section ======= -->
  <!-- <section id="clients" class="clients">
      <div class="container">
        <div class="section-title">
          <h2>Partners</h2>
          <p>Our sponsors.</p>
        </div>
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="/img/partners/scg.png" class="img-fluid" alt="">
          </div>

          <div class="col-sm-2 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="/img/partners/sriraj.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-sm-2 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="/img/partners/ait.jpeg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
     -->
  <!-- End Clients Section -->

  <!-- ======= Portfolio Section ======= -->
  {{/* <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Our featured demo.</p>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/img/aitgpt.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>University Chatbot</h4>
              <p>Ask anything about the university and receive the answer right away.</p>
              <div class="portfolio-links">
                <a href="/img/language.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/img/formal.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Thai formal writing assistant</h4>
              <p>Turn your informal text to formal text (ภาษาราชการ) and never again sweat your deadlines.</p>
              <div class="portfolio-links">
                <a href="/img/cv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/mine.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>CT Scans</h4>
                <p>Provide automatic segmentation of brain regions</p>
                <div class="portfolio-links">
                  <a href="/img/mine.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div> -->

      </div>
    </div>

    </div>
  </section><!-- End Portfolio Section --> */}}

  <section id="chatdata portfolio" class="about-video portfolio section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Sample Student Projects</h2>
        <p>Our featured demo.</p>
      </div>
      <div class="row">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-6 portfolio-item filter-card video-box align-self-baseline">
            <a target="_blank" href="https://www.youtube.com/watch?v=zPFTY6n3r0Q" data-vbtype="video"
            data-autoplay="true">
              <div class="portfolio-wrap">
                <img src="/img/demo2/live.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Detecting Human Liveness</h4>
                  <p>Detecting human liveness using light-weight deep learning models</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=zPFTY6n3r0Q" title="Youtube"><i class="bx bx-play-circle"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=2e37nmzC6Ig">
              <div class="portfolio-wrap">
                <img src="/img/demo2/driver.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Driver's Ability to Drive</h4>
                  <p>Monitoring driver's ability to drive using AI</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=2e37nmzC6Ig" title="Youtube"><i class="bx bx-play-circle"></i></a>
                    <a target="_blank" href="https://github.com/zMaxKunGz/EA-Smart-Bus-code" title="Github"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://youtu.be/CJEXU0kLIgE">
              <div class="portfolio-wrap">
                <img src="/img/demo2/interview.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>AI Interviewer</h4>
                  <p>Use AI to help screen out applications quickly.</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://youtu.be/CJEXU0kLIgE" title="Youtube"><i class="bx bx-play-circle"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=DXnu3WY3znc">
              <div class="portfolio-wrap">
                <img src="/img/demo2/schol.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Scholarly</h4>
                  <p>Use AI to help write research papers.</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=DXnu3WY3znc" title="Youtube"><i class="bx bx-play-circle"></i></a>
                    <a target="_blank" href="https://github.com/amanda11233/ResearchAssistant_brainLab" title="Github"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div> 
            
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
           
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://youtu.be/AArXdnpXVMY">
              <div class="portfolio-wrap">
                <img src="/img/demo2/gov.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Thai Gov. Paraphraser</h4>
                  <p>Paraphrase informal text into government style text</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://youtu.be/AArXdnpXVMY" title="Youtube"><i class="bx bx-play-circle"></i></a>
                    <a target="_blank" href="https://github.com/arnajak/ThaiGovAI" title="Github"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://youtu.be/fMaOqt8tdsg?si=gvVvtwrcyMeFIS3U">
              <div class="portfolio-wrap">
                <img src="/img/demo2/speller.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>BCI Speller</h4>
                  <p>Allows locked-in patients to communicate using BCI speller.</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://youtu.be/fMaOqt8tdsg?si=gvVvtwrcyMeFIS3U" title="Youtube"><i class="bx bx-play-circle"></i></a>
                    <a target="_blank" href="https://github.com/sunsun101/hybrid-ssvep-p300-speller" title="Github"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=e1-9_4qw-oo">
              <div class="portfolio-wrap">
                <img src="/img/demo2/count.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Counting passenger</h4>
                  <p>Use AI to count passenger in/out to help travel business.</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=e1-9_4qw-oo" title="Youtube"><i class="bx bx-play-circle"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=oCRsLrveNh8">
              <div class="portfolio-wrap">
                <img src="/img/demo2/iet.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Automatic IELTS scorer</h4>
                  <p>An automatic IELTS writing scorer on different aspects of the writing.</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=oCRsLrveNh8" title="Youtube"><i class="bx bx-play-circle"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
           
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=q4UmkShbIiA">
              <div class="portfolio-wrap">
                <img src="/img/demo2/motor.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Motor Imagery</h4>
                  <p>Motor Imagery application for control</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=q4UmkShbIiA" title="Youtube"><i class="bx bx-play-circle"></i></a>
                    <a target="_blank" href="https://github.com/newzaungo3/EEG-Motor-Imagery-Classification" title="Github"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=Ibnyyk8vOPM">
              <div class="portfolio-wrap">
                <img src="/img/demo2/rec.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Conversation Recommendation System</h4>
                  <p>Recommending sales item through chats</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=Ibnyyk8vOPM" title="Youtube"><i class="bx bx-play-circle"></i></a>
                    <a target="_blank" href="https://github.com/guntsvzz/AGRMCR" title="Github"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://www.youtube.com/watch?v=Yh_roaqSzHo">
              <div class="portfolio-wrap">
                <img src="/img/demo2/report.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>AI Report Generation</h4>
                  <p>Using AI to generate reports</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://www.youtube.com/watch?v=Yh_roaqSzHo" title="Youtube"><i class="bx bx-play-circle"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a target="_blank" href="https://youtu.be/dfOfqvxHDiY">
              <div class="portfolio-wrap">
                <img src="/img/demo2/brain.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>AI-augmented medical diagnosis and segmentation</h4>
                  <p>Using AI to help radiologists diagnose and make reports</p>
                  <div class="portfolio-links">
                    <a target="_blank" href="https://youtu.be/dfOfqvxHDiY" title="Youtube"><i class="bx bx-play-circle"></i></a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Video Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Come and visit us!</p>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 270px;"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3869.977593956777!2d100.61184751472204!3d14.078499990136669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e27f8de68c7f59%3A0xf01923824353270!2sAsian%20Institute%20of%20Technology%20(AIT)!5e0!3m2!1sen!2sth!4v1679621412838!5m2!1sen!2sth"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


      <div class="row">
        <div class="col-lg-6">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>58 Moo 9 Phahonyothin Road, Tambon Khlong Nung, Amphoe Khlong Luang</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info">
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>chaklam@ait.asia</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info">
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>081-894-5656</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->


{{ end }}