{{ define "main" }}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row">
        {{ range .Pages }}
        <div class="col-md-3">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            data-aos="zoom-in">
            <div class="col p-3 d-flex flex-column position-static" style="height: 280px;">
              <strong class="d-inline-block mb-2 text-primary">{{ .Params.field }}</strong>
              <h6 class="mb-0">{{ .Title }}</h6>
              <div class="mb-1 text-muted" style="margin-top: 10px; font-size: 0.9em">
                {{- with .Params.paper }} <a href="{{ . }}" target="_blank"><span
                    class="badge bg-light text-dark rounded-pill">Paper</span></a>&nbsp;|&nbsp;{{- end }}
                {{- with .Params.github }}<a href="{{ . }}" target="_blank"><span
                    class="badge bg-primary rounded-pill">Github</span></a>&nbsp;&nbsp;{{- end }}
                {{/* <a href="{{ .Permalink  }}">Demo / Youtube</a> */}}
                {{- with .Params.demo_url }} <a target="_blank" href="{{ . }}"><span
                    class="badge bg-success rounded-pill">Demo</span></a>{{- end }}
                {{- with .Params.video_url }} <a target="_blank" href="{{ . }}"><span
                    class="badge bg-info rounded-pill">Video</span></a>{{- end }}
              </div>
              <p>
              <div class="mb-1 text-muted" style="font-size: 0.7em">Authors: {{ .Params.authors }} ({{
                .Params.publication_date }})</div>
              {{/*  <div class="mb-1 text-muted" style="font-size: 0.8em">Version: {{ .Params.version }} </div>  */}}

              <p class="mb-1">{{ .Params.description }}</p>
              </p>
            </div>
            <div class="col-auto d-none d-lg-block">
              {{/* <img src="{{ .Params.image }}" height="250"> */}}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      
    </div>
  </section>

</main>
{{ end }}