{{ define "main" }}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {{ range .Pages }}
      <div class="col d-flex">
        <div class="card">
          <img src="{{ .Params.image }}" class="card-img-top"/>
          <div class="card-body flex-fill">
            <span class="card-title">{{ .Title }}</span>
            {{/*  <strong class="d-inline-block mb-2 text-primary">{{ .Params.field }}</strong>  */}}
            <div class="mb-1 text-muted" style="margin-top: 10px; font-size: 0.9em">
              {{- with .Params.paper }} <a href="{{ . }}" target="_blank"><span
                  class="badge bg-light text-dark rounded-pill">Paper</span></a>&nbsp;|&nbsp;{{- end }}
              {{- with .Params.github }}<a href="{{ . }}" target="_blank"><span
                  class="badge bg-primary rounded-pill">Github</span></a>&nbsp;&nbsp;{{- end }}
              {{- with .Params.demo_url }} <a target="_blank" href="{{ . }}"><span
                  class="badge bg-success rounded-pill">Demo</span></a>{{- end }}
              {{- with .Params.video_url }} <a target="_blank" href="{{ . }}"><span
                  class="badge bg-info rounded-pill">Video</span></a>{{- end }}
            </div>
            <p>
              <div class="mb-1 text-muted" style="font-size: 0.7em">Authors: {{ .Params.authors }} ({{
                .Params.publication_date }})</div>
              {{/* <div class="mb-1 text-muted" style="font-size: 0.8em">Version: {{ .Params.version }} </div> */}}
              </p>
            <p class="card-text">
              {{ .Params.description }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</main>
{{ end }}