{{ define "main" }}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      {{ range .Pages }}
      <div class="row">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            data-aos="zoom-in">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ .Params.field }}</strong>
              <h3 class="mb-0">{{ .Title }}</h3>
              <p>
              <div class="mb-1 text-muted">Authors: {{ .Params.authors }}</div>
              </p>
              <p class="card-text mb-auto">{{ .Params.abstract }}
              </p>
              <p>
              <div class="mb-1 text-muted">
                <a href="{{ .Params.paper }}">Paper</a> | 
                <a href="{{ .Params.github }}">Github</a> | 
                <a href="{{ .Permalink  }}">Demo</a></div>
              </p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="300" height="260" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>

</main>
{{ end }}