{{ define "main" }}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      {{ range .Pages }}
      <div class="row">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            data-aos="zoom-in">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ .Params.field }}</strong>
              <h3 class="mb-0">{{ .Title }}</h3>
              <p>
                <div class="mb-1 text-muted" style="font-size: 0.8em">Authors: {{ .Params.authors }} ({{ .Params.publication_date }})</div>
                <div class="mb-1 text-muted" style="font-size: 0.8em">
                  {{- with .Params.paper }} <a href="{{ . }}" target="_blank">Paper</a>&nbsp;|&nbsp;{{- end }}
                  {{- with .Params.github }}<a href="{{ . }}" target="_blank">Github</a>&nbsp;&nbsp;| {{- end }}
                  {{/*  <a href="{{ .Permalink  }}" >Demo / Youtube</a>  */}}
                  {{- with .Params.demo_url }} <a target="_blank" href="{{ . }}" >Demo</a>{{- end }}
                  {{- with .Params.video_url }} <a target="_blank" href="{{ . }}" >Video</a>{{- end }}
                </div>
              </p>
              <p class="mb-1">{{ .Params.description }}</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{ .Params.image }}" height="250">
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>

</main>
{{ end }}