{{ define "main" }}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <h4>2025</h4>
      <li>Aung et al. (2024). <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S2589791825000349">Investigating Farmers’ Adoption of Mobile Agri-Tech: A TAM-Based Study of KaseChar in Eastern Thailand</a>, <em>Global Transitions</em>.</li>
      </li>
      <h4>2024</h4>
      <li>Koirala et al. (2024). <a target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-97-9793-6_3">Multi-document Summarization in Medical Literature using PICO-Masking Approach</a>, <em>Data Science and Artificial Intelligence</em>.</li>
      <li>Lameesa et al. (2024) <a target="_blank" href="https://doi.org/10.1016/j.neucom.2024.128730">VG-CALF: A Vision-Guided Cross-Attention and Late-Fusion Network for Radiology Images in Medical Visual Question Answering</a>, <em>Neurocomputing</em>.</li>
      <li>Jain et al. (2024) <a target="_blank" href="https://ieeexplore.ieee.org/iel7/6287639/6514899/10534069.pdf">Investigating Gender and Age Variability in Diabetes Prediction: A Multi-Model Ensemble Learning Approach</a>, <em>IEEE Access</em></li>
      </li>
      <h4 style="margin-top: 20px">2023</h4>
      <li>Nutapol et al. (2023) <a href="https://link.springer.com/chapter/10.1007/978-981-99-7969-1_9"
          target="_blank">Data Augmentation for EEG Motor Imagery Classification Using Diffusion Model</a>, <em>International Conference on Data Science and Artificial Intelligence</em>.
      </li>
      <li>Fathima et al. (2023) <a href="https://link.springer.com/article/10.1007/s11042-023-16052-y"
          target="_blank">Investigating the Role of Gesture Modalities&nbsp;and Screen Size in an AR 3D Game</a>,
        <em>Multimedia Tools and Applications</em>.
      </li>
      <li>Chanapa et al. (2023) <a
          href="https://direct.mit.edu/coli/article/doi/10.1162/coli_a_00479/115845/Comparing-Selective-Masking-Methods-for-Depression#"
          target="_blank">Comparing Selective Masking Methods for Depression Detection in Social Media</a>,<em>
          Computational Linguistics</em>.</li>
      <li>Mehul et al. (2023) <a href="https://dl.acm.org/doi/abs/10.1145/3544549.3585692" target="_blank">Impact of
        User Mobility on Attentional Tunneling in Handheld AR</a>, <em>CHI LBW</em>.</li>
      <h4 style="margin-top: 20px">2022</h4>
      <li>Romen et al. (2022) <a href="https://pubmed.ncbi.nlm.nih.gov/36368029/" target="_blank">Neural
          stochastic differential equations network as uncertainty quantification method for EEG source
          localization</a>, <em>Biomed Physical Eng Express</em>.</li>
      <li>Sunthorn et al. (2022) <a href="https://www.tandfonline.com/doi/abs/10.1080/0144929X.2022.2161937"
          target="_blank">Making Time Perception Shorter With Pitch And Interval Patterns</a>, <em>Behavior and
          Information Technology</em>.</li>
      </ul>
    </div>
  </section><!-- End Portfolio Details Section -->
</main>
{{ end }}