{{ define "main" }}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      </p>

      <h3>Why top-tier research?</h3>
      <p>Before you read anything, please read my <a target="_blank" href="https://drive.google.com/file/d/1VfDpaLL6P6gLAAAaj5rbvWbGwAl9nfFM/view?usp=sharing">PDF talking about top-tier research.</a></p>

      <h3>1. Choosing topics</h3>

      <p>First step to choose potential topics is to visit <a href="/projects">Projects</a>.</p>

      <h3>2. Graduation criteria</h3>

      <p>To graduate from AIT Brain lab, 
        <ul>
          <li><b>Research Study</b>:  Develop a product or model justifying 6 months effort</li>
          <li><b>Master Thesis</b>:   (a) Submit 1 publication, (b) Develop a product or model justifying 1 year effort</li>
          <li><b>Ph.D. Thesis</b>:  Submit 3 top-tier publications</li>
        </ul>
      </p>

      <h3>3. Meeting protocols</h3>

      <p><img class="img-fluid rounded border border-dark" alt="protocol" src="/img/protocol1.png" width="500" />

      <img class="img-fluid rounded border border-dark" alt="protocol" src="/img/protocol2.png" width="500" /></p>

      {{/*  <p><img class="img-fluid rounded border border-dark" alt="protocol" src="/img/protocol3.png" width="750" /></p>  */}}

      <h3>4. Advices</h3>

      <p>Research can be very difficult.  Here are my blogs that may help you:
      <ul>
        <li><a href="http://www.chaklam.com/node/6">Research Process</a></li>
        <li><a href="http://www.chaklam.com/node/7">How to choose good topic</a></li>
        <li><a href="http://www.chaklam.com/node/8">How to find related work efficiently</a></li>
        <li><a href="http://www.chaklam.com/node/12">How to write paper</a></li>
        <li><a href="http://www.chaklam.com/node/30">Common mistakes</a></li>
      </ul>

      <h3>5. Downloads</h3>

      <ul>
        <li>Orientation slide (<a target="_blank" href="https://drive.google.com/file/d/1uvZ-1CgFu-3JIfvoxPrUylU2Uh5uNYs4/view?usp=sharing">Download</a>)</li>
        <li>Presentation template (<a target="_blank"
            href="https://docs.google.com/presentation/d/1SXN2LABIBYnTblk1nbCE1KA83xmR4tt-vUE26Lnl0-E/edit?usp=sharing">Download</a>),
          Thesis latex template (<a target="_blank" href="https://www.overleaf.com/read/zptzbhxkbvbn#3d83d4">Download</a>)</li>
        <li>Example of special study (Master - <a target="_blank" 
            href="https://drive.google.com/file/d/1RHcmHshJDh_9PQnEUcUoEGM-mENOsIF0/view?usp=sharing">Download</a>)(PhD - <a target="_blank" 
            href="https://drive.google.com/file/d/1Rcbs5qKUJ9CR3W_1Dwgh_u9-NQCOy6z4/view?usp=sharing">Download</a>)</li>
        <li>Example of thesis proposal (Master - <a target="_blank" 
            href="https://drive.google.com/file/d/1wTPXliTlkLRDIGVBgnxrgg4UUXvyyoCf/view?usp=sharing">PPT</a>, <a target="_blank" 
            href="https://drive.google.com/file/d/19J4Zs12gfBOiCo-Bsn7vS4qhDoxubS1s/view?usp=sharing">Report</a>)(PhD - <a target="_blank" 
            href="https://drive.google.com/file/d/1yrMHck1oMszKw_3QfqqtwqvZ8RC05n9P/view?usp=sharing">PPT</a>, <a target="_blank" 
            href="https://drive.google.com/file/d/1Zqek9XC2Xeooz788K_mwIFxaGqZxdMec/view?usp=sharing">Report</a>)</li>
        <li>Example of final thesis (<a target="_blank" 
            href="https://drive.google.com/file/d/1VSD0-DZHAhDnvD1PSEtpyTjyZynaJqiY/view?usp=sharing">PPT</a>, <a target="_blank" 
            href="https://drive.google.com/file/d/1Vt5qVQEqEhEn1IoVgXw2QOLnii6Rb9yU/view?usp=sharing">Report</a>)</li>
      </ul>
{{/*  
      <h3>6. Timeline</h3>

      <p>Here is a simple figure explaining your one-year thesis journey. You have one year to complete your
        thesis; most students extend to one or two more semesters.  (For Ph.D., your journey will be much longer):</p>

      <p><img class="img-fluid rounded border border-dark" alt="timeline" src="/img/timeline.png" width="750" /></p>  */}}

      {{/*  <h3>2. Writing</h3>

      <p>Writing is a good way to organize your ideas. Try use this template to communicate your ideas effectively.</p>

      <ul>
        <li><span><span><span><span><span><span><strong>BACKGROUND</strong>: The ability to differentiate person
                      in dialogue summarization is important. Past work mostly focuses on ________ (talk about
                      what people mostly do…)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>PROBLEM</strong>: However, the key limitation is
                      ___________________________(major gap in past
                      work)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>SOLUTION</strong>: This paper proposes
                      _____________________ (solution that directly fix the
                      gap)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>RESULTS</strong>: We found that ___________________
                      (results that confirm we fix the gap…)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>CONTRIBUTION</strong>: The results implied that
                      _________________ (generalizability of your work…)</span></span></span></span></span></span></li>
      </ul>  */}}

      {{/*  <h3>3. Do your research!</h3>

      <p>Doing your research is a daunting task. I have provided a very short snippets of success you may want to try for both fundamental research and applied research.</p>

      <p><img class="img-fluid rounded border border-dark" alt="how to do research" src="/img/researchway.png" width="500" />

      <img class="img-fluid rounded border border-dark" alt="how to do research" src="/img/applicationway.png" width="500" /></p>  */}}


      <h3>6. Deliverables</h3>

      <p>Your main deliverables for your research are</p>

      <ol>
        <li>upload your code to AIT Brain Lab Github repo,</li>
        <li>final report,</li>
        <li>final presentation slide</li>
        <li>video demo,</li>
        <li>final publication (if you are thesis)</li>
      </ol>


    </div>
  </section><!-- End Portfolio Details Section -->
</main>
{{ end }}