{{ define "main" }}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <p>Here are a very short, concise beginner guide for AIT Master students (applicable to Ph.D. students too).
      </p>

      <h3>0. Graduation criteria</h3>

      <p>To graduate from AIT Brain lab, Master students should either (1) develop a <strong>workable, deployed
          product </strong>(justification of 1-year effort) with formal user evaluation, or (2) publish in
        <strong>top-tier journals / conferences</strong>. Ph.D. students should publish <strong>3 top-tier
          journals / conferences</strong>.
      </p>

      <h3>1. Timeline</h3>

      <p>Here is a simple figure explaining your one-year thesis journey. You have one year to complete your
        thesis; most students extend to one or two more semesters:</p>

      <ul>
        <li>Presentation template (<a
            href="https://docs.google.com/presentation/d/1cs_L6fUhohWj27M9whfixH5wMQdeeBoPCrm-mZo8vcg/edit?usp=sharing">Download</a>),
          Thesis latex template (<a href="https://www.overleaf.com/read/zptzbhxkbvbn#3d83d4">Download</a>)</li>
        <li>Example of special study (Master - <a
            href="https://drive.google.com/file/d/1RHcmHshJDh_9PQnEUcUoEGM-mENOsIF0/view?usp=sharing">Download</a>)(PhD - <a
            href="https://drive.google.com/file/d/1Rcbs5qKUJ9CR3W_1Dwgh_u9-NQCOy6z4/view?usp=sharing">Download</a>)</li>
        <li>Example of thesis proposal (Master - <a
            href="https://drive.google.com/file/d/1wTPXliTlkLRDIGVBgnxrgg4UUXvyyoCf/view?usp=sharing">PPT</a>, <a
            href="https://drive.google.com/file/d/19J4Zs12gfBOiCo-Bsn7vS4qhDoxubS1s/view?usp=sharing">Report</a>)(PhD - <a
            href="https://drive.google.com/file/d/1yrMHck1oMszKw_3QfqqtwqvZ8RC05n9P/view?usp=sharing">PPT</a>, <a
            href="https://drive.google.com/file/d/1Zqek9XC2Xeooz788K_mwIFxaGqZxdMec/view?usp=sharing">Report</a>)</li>
        <li>Example of final thesis (<a
            href="https://drive.google.com/file/d/1VSD0-DZHAhDnvD1PSEtpyTjyZynaJqiY/view?usp=sharing">PPT</a>, <a
            href="https://drive.google.com/file/d/1Vt5qVQEqEhEn1IoVgXw2QOLnii6Rb9yU/view?usp=sharing">Report</a>)</li>
      </ul>

      <p><img class="img-fluid" alt="timeline" src="/img/timeline.png" width="750" /></p>

      <h3>2. Selecting topics</h3>

      <p>First step to choose topics is to visit <a href="/projects">Projects</a>. I TRY NOT to work on any
        other topics outside of this list.</p>

      <p>Once you select the topic, a good exercise to do is to fill in the blanks of these questions, which will form
        the five paragraphs of your Introduction:</p>

      <ul>
        <li><span><span><span><span><span><span><strong>BACKGROUND</strong>: The ability to differentiate person
                      in dialogue summarization is important. Past work mostly focuses on ________ (talk about
                      what people mostly do…)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>PROBLEM</strong>: However, the key limitation is
                      ___________________________(major gap in past
                      work)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>SOLUTION</strong>: This paper proposes
                      _____________________ (solution that directly fix the
                      gap)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>RESULTS</strong>: We found that ___________________
                      (results that confirm we fix the gap…)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>CONTRIBUTION</strong>: The results implied that
                      _________________ (generalizability of your work…)</span></span></span></span></span></span></li>
      </ul>

      <h3>3. Do your research!</h3>

      <p>Doing your research is a daunting task. I have provided a very short snippets of success you may want to
        try. For students working on products instead, you probably won’t read as many papers but probably read
        when you meet some technical challenge.</p>

      <p><img class="img-fluid" alt="how to do research" src="/img/researchway.png" width="750" /></p>

      <h3>4. Deliverables</h3>

      <p>Your main deliverables for your thesis are</p>

      <ol>
        <li>the public GitHub link of your code,</li>
        <li>deployed demo website link,</li>
        <li>final thesis report</li>
        <li>final publication (research route)</li>
      </ol>


    </div>
  </section><!-- End Portfolio Details Section -->
</main>
{{ end }}