{{ define "main" }}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>{{ .Title }}</h2>
    </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <p>Here is a very short, concise beginner guide for AIT Master students (applicable to Ph.D. students too).
      </p>

      <h3>0. Graduation criteria</h3>

      <p>To graduate from AIT Brain lab, Master students should either (1) develop a <strong>workable, deployed
          product </strong>(justification of 1-year effort) with formal user evaluation, or (2) publish in
        <strong>top-tier journals / conferences</strong>. Ph.D. students should publish <strong>3 top-tier
          journals / conferences</strong>.
      </p>

      <h3>0. Meeting protocols</h3>

      <p>For Master's, we will have weekly meetings.  For PhD's, it is monthly meeting.  In the meeting, you briefly talk about progress, bottlenecks or obstacles that require attention, and next steps.</p>

      <p>I personally do not prefer scheduling separate meetings as my schedule is very unpredictable and thus could hurt your planning.  Try to talk as much in the regular meetings.</p>

      <h3>0. Help</h3>

      <p>Research can be very difficult.  You should (1) leverage your lab members to help you as much as possible, (2) try to come to lab and associate with your friends, (3) try to always answer a). what's the problem you want to solve, b). read as much top-tier papers as possible, c). figure out novel solution and also consider is it feasible in your time, d). and carrying out experiments.</p>

      <span>Useful links:</span>
      <ul>
        <li><a href="http://www.chaklam.com/node/6">Research Process</a></li>
        <li><a href="http://www.chaklam.com/node/7">How to choose good topic</a></li>
        <li><a href="http://www.chaklam.com/node/8">How to find related work efficiently</a></li>
        <li><a href="http://www.chaklam.com/node/12">How to write paper</a></li>
        <li><a href="http://www.chaklam.com/node/30">Common mistakes</a></li>
      </ul>

      <h3>0. More advices</h3>

      <p>More advices, if you want to be successful, here is what I think my successful students do, compared to less successful students.</p>
      <ul>
        <li><strong>Strong passion</strong>:  this is perhaps a very important factor separating the successful and the less ones.  Passion is not only career, money or for fun.  Passion is something you truly believe in.  It's the same level as religion.  If you really love the topic you are doing, the rest of the below factors come.</li>
        <li><strong>Self-discipline</strong>:  this is perhaps another  important factor.  Self-discipline keeps you focus on tasks on hand and constantly thinking about the solution.</li>
        <li><strong>Competence</strong>:  they execute the research in a well-planned systematic logical manner.  They are simply smart and methodical.  You can close the gap with these competent people by talking with them, while also working 2x or 3x more than these people and consistently copy how they work and adjust to your own style.  Before you work smart, you need to first work hard.</li>
        <li><strong>Listen</strong>:  they carefully listen to what the supervisor said, and try to catch the essence.  Less successful usually skip the so-called obvious advices and fail. Of course, your supervisor may not know everything and no one does, but it is your job to learn to communicate effectively your ideas.</li>
        <li><strong>Positive attitude</strong>:  they seldom blame anyone if they fail.  They keep going, know how to positively self-talk, and embrace and accepts struggles as learning process.  Under huge stress, their positive attitude carry them forward. </li>
      </ul>

      <h3>1. Timeline</h3>

      <p>Here is a simple figure explaining your one-year thesis journey. You have one year to complete your
        thesis; most students extend to one or two more semesters:</p>

      <ul>
        <li>Presentation template (<a
            href="https://docs.google.com/presentation/d/1cs_L6fUhohWj27M9whfixH5wMQdeeBoPCrm-mZo8vcg/edit?usp=sharing">Download</a>),
          Thesis latex template (<a href="https://www.overleaf.com/read/zptzbhxkbvbn#3d83d4">Download</a>)</li>
        <li>Example of special study (Master - <a
            href="https://drive.google.com/file/d/1RHcmHshJDh_9PQnEUcUoEGM-mENOsIF0/view?usp=sharing">Download</a>)(PhD - <a
            href="https://drive.google.com/file/d/1Rcbs5qKUJ9CR3W_1Dwgh_u9-NQCOy6z4/view?usp=sharing">Download</a>)</li>
        <li>Example of thesis proposal (Master - <a
            href="https://drive.google.com/file/d/1wTPXliTlkLRDIGVBgnxrgg4UUXvyyoCf/view?usp=sharing">PPT</a>, <a
            href="https://drive.google.com/file/d/19J4Zs12gfBOiCo-Bsn7vS4qhDoxubS1s/view?usp=sharing">Report</a>)(PhD - <a
            href="https://drive.google.com/file/d/1yrMHck1oMszKw_3QfqqtwqvZ8RC05n9P/view?usp=sharing">PPT</a>, <a
            href="https://drive.google.com/file/d/1Zqek9XC2Xeooz788K_mwIFxaGqZxdMec/view?usp=sharing">Report</a>)</li>
        <li>Example of final thesis (<a
            href="https://drive.google.com/file/d/1VSD0-DZHAhDnvD1PSEtpyTjyZynaJqiY/view?usp=sharing">PPT</a>, <a
            href="https://drive.google.com/file/d/1Vt5qVQEqEhEn1IoVgXw2QOLnii6Rb9yU/view?usp=sharing">Report</a>)</li>
      </ul>

      <p><img class="img-fluid" alt="timeline" src="/img/timeline.png" width="750" /></p>

      <h3>2. Selecting topics</h3>

      <p>First step to choose topics is to visit <a href="/projects">Projects</a>. I TRY NOT to work on any
        other topics outside of this list.</p>

      <p>Once you select the topic, a good exercise to do is to fill in the blanks of these questions, which will form
        the five paragraphs of your Introduction:</p>

      <ul>
        <li><span><span><span><span><span><span><strong>BACKGROUND</strong>: The ability to differentiate person
                      in dialogue summarization is important. Past work mostly focuses on ________ (talk about
                      what people mostly do…)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>PROBLEM</strong>: However, the key limitation is
                      ___________________________(major gap in past
                      work)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>SOLUTION</strong>: This paper proposes
                      _____________________ (solution that directly fix the
                      gap)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>RESULTS</strong>: We found that ___________________
                      (results that confirm we fix the gap…)</span></span></span></span></span></span><br />
        </li>
        <li><span><span><span><span><span><span><strong>CONTRIBUTION</strong>: The results implied that
                      _________________ (generalizability of your work…)</span></span></span></span></span></span></li>
      </ul>

      <h3>3. Do your research!</h3>

      <p>Doing your research is a daunting task. I have provided a very short snippets of success you may want to try. For students working on products instead, you probably won’t read as many papers but probably read when you meet some technical challenge.</p>

      <p><img class="img-fluid" alt="how to do research" src="/img/researchway.png" width="750" /></p>

      <h3>4. Deliverables</h3>

      <p>Your main deliverables for your thesis are</p>

      <ol>
        <li>the public GitHub link of your code,</li>
        <li>deployed demo website link,</li>
        <li>final thesis report</li>
        <li>final publication (research route)</li>
      </ol>


    </div>
  </section><!-- End Portfolio Details Section -->
</main>
{{ end }}