  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>The Future Lab</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.youtube.com/@brainlabAIT" class="youtube"><i class="bx bxl-youtube"></i></a>
        {{/*  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>  */}}
      </div>
    </div>
  </footer><!-- End Footer -->