---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* Create two equal columns that floats next to each other */
.col-1 {
    float: left;
    width: 8.33%;
}

.col-2 {
    float: left;
    width: 16.667%;
}

.col-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.33%;
}

.col-5 {
    float: left;
    width: 41.667%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-7 {
    float: left;
    width: 58.33%;
}

.col-8 {
    float: left;
    width: 66.667%;
}

.col-9 {
    float: left;
    width: 75%;
}

.col-10 {
    float: left;
    width: 83.33%;
}

.col-11 {
    float: left;
    width: 91.667%;
}

.col-12 {
    float: left;
    width: 100%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.people_image{
    width: auto;
    /* height: 250px; */
}

.people_body{
    padding-left: 20px;
}

.people_body h3{
    margin-top: 0px;
}